/* Navbar part start */
@media (min-width:320px) and (max-width:575.99px){

  p{
    font-size: 15px;
  }
   .nav-menu{
    display: block;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
    background-color: #fff;
    transition: .3s;
  }
  .nav-menu li a{
    color: #000;
    display: block;

  }
  #menu-open-button,#menu-close-button{
    border: none;
    background-color: transparent;
  }
  #menu-open-button{
    color: #fff;
  }
  body.show-mobile-menu .nav-menu{
    left: 0;
  }
}
/* Navbar part end */

/* Banner part start */
.banner h1 {
    font-size: 45px;
    font-weight: 600;
    width: 95%;
    padding-top: 50px;
}
.banner p {
    width: 95%;
    padding-bottom: 38px;
    color: #000;
}
.banner-input {
    width: 100%;
}
.banner-input input {
    font-size: 10px;
    padding: 15px 10px;
}
.banner-input button {
    font-size: 10px;
}
.head-icon {
    padding-top: 50px;
}
/* Banner part end */
