* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

.btn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  background-color: #6a55ea;
  border-radius: 18px;
  border: 1px solid transparent;
  font-family: 'Nunito', sans-serif;
  transition: 0.3s;
}
.btn:hover {
  background-color: transparent;
  color: #6a55ea;
  border: 1px solid #6a55ea;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  color: #29313d;
  line-height: 140%;
}

p {
  font-size: 18px;
  color: #29313d;
  font-weight: 400;
  line-height: 200%;
  font-family: 'Nunito', sans-serif;
}
h6{
  font-size: 24px;
  font-weight: 500;
  color: #7968ef;
  font-family: 'Nunito', sans-serif;
}
img {
  width: 100%;
}
/* Navbar and Header part start */

header {
  background-image: url(../images/Header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav ul li a{
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  transition: .3s;
}
nav ul li a:hover{
  background-color: #6A55EA;
}
.banner h1 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
  line-height: 130%;
}
.banner p {
  color: rgba(255, 255, 255, 0.6);
  width: 55%;
  padding-top: 20px;
  padding-bottom: 48px;
  margin: 0 auto;
  text-align: center;
}
.banner-input {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.banner-input input {
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  outline: 0;
  flex: 1;
}
.banner-input button {
  border: none;
  font-size: 16px;
  padding: 0 25px;
  color: #fff;
  background-color: #6a55ea;
}
.head-icon {
  padding-top: 509px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navbar and Header part end */

/* Service part start */

.service {
  padding: 100px 0;
  background-color: #fff;
}
.service .row{
  align-items: center;
}
.service h2 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}
.service h6 {
  text-align: center;
}
.service .left p {
  padding-bottom: 80px;
}
.ser-content {
  padding: 38px;
  display: flex;
  align-items: center;
  background-color: #F0EDFF;
  border-radius: 20px;
  margin-top: 36px;
}
.ser-content .img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 40px;
}
.ser-content h3 {
  font-size: 28px;
  font-weight: 600;
}
.ser-content p {
  padding-top: 12px;
  width: 375px;
}
/* Service part end */


/* Traffic part start */
.traffic{
  padding: 100px 0;
  background-color: #fff;
}
.traffic .row{
  align-items: center;
}
.traffic h6{
  padding-bottom: 10px;
}
.traffic p{
  padding-top: 24px;
  padding-bottom: 40px;
  width: 90%;
}
.traffic-box{
  display: flex;
  gap: 40px;
}
.traffic-box .card{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.traffic-box .card h4{
  z-index: 2;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;

}
.traffic-box .card::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 150%;
  background-color: #6a55ea;
  animation: rotate 3s infinite;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.traffic-box .card::after{
  content: "";
  position: absolute;
  inset: 5px;
  background-color: #fff;
  border-radius: 50%;
}
/* Traffic part end */


/* Help part start */
.help{
  padding: 120px 0;
  background-color: #fff;
}
.help h6{
  text-align: center;
}
.help h2 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}
.help .card{
  background-color: #F8A64C;
  border: none;
}
.help .card .img{
  height: 65px;
  width: 65px;
  margin: 35px auto;
}
.help .card h5{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 40px;
}
.help .row .sec{
  background-color: #F0EDFF;
}
.help .row .third{
  background-color: #E8FCF2;
}
.help .row .four{
  background-color: #FEF6EC;
}
.help .left{
  padding-top: 100px;
  align-items: center;
}
.help .left .img{
  width: 340px;
  height: 340px;
}
.help h3{
  font-size: 36px;
  font-weight: 500;
  color: #29313D;
}
.help p{
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 48px;
  font-family: 'Nunito', sans-serif;
}

/* Help part end */


/* Work part start */
.work{
  padding: 120px 0;
  background-color: #fff;
}
.work .w-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.work .card{
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-color: #C4C4C4;
  border: none;
}
.work h3{
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 14px;
  padding-top: 28px;
}
/* Work part end */


/* SEO part start */
.main{
  background-image: url(../images/seo.png);
  background-size: cover;
  border-radius: 20px;
  background-image: linear-gradient(#082859,#07234D,#04152E,#000000);
}
.seo .content{
  padding: 120px ;
}
.seo .content h2{
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
}
.seo .content p{
  color: #fff;
  text-align: center;
}
.seo .input-box{
  display: flex;
  width: 50%;
  margin: 28px auto 0;
  border-radius: 20px;
  overflow: hidden;

}
.seo input{
  font-size: 18px;
  padding: 15px 20px;
  flex: 1;
  border: none;
}
.seo button{
  padding: 0 10px;
  font-size: 18px;
  border: none;
  background-color: #6A55EA;
}
/* SEO part end */


/* Fotter part start */
.fotter{
  padding: 100px 0;
  background-color: #fff;
}
.fotter .img{
  width: 135px;
  height: 75px;
}
.fotter .left p{
  width: 80%;
}
.fotter  h4{
  padding-bottom: 50px;
}
/* Fotter part end */
